.navbar{
  margin-left: 200px;
}

.navbar a.active{
  color: #BFDC36;
}
.search-box{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-top: 0.5rem;
  font-size: 14px;
  padding-right: 100px;
  margin-right: 5px;
}


.billyboy-international,
.our-team {
  position: absolute;
  width: 476px;
  height: 20px;
  left: 150px;
  top: 272px;
  font-size: 40px;
}
.our-team {
  top: 922px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.we-are-a {
  margin-block-start: 0;
  margin-block-end: 25px;
}
.takes-us-thank {
  margin: 0;
}
.we-are-a-container1 {
  line-break: anywhere;
  width: 200%;
}
.we-are-a-container {
 
  position: absolute;
  width: 1548px;
  height: 470px;
  left: 150px;
  top: 372px;
  font-size:16px ;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 1300px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.group-child {
  position: absolute;
  top: -4px;
  left:45px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.founder-ceo,
.oluwasegun {
  position: absolute;
  top: 275px;
  left:120px;
  line-height: 20px;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.oluwasegun{
  color:#BFDC36;
}
.founder-ceo {
  top: 300px;
  width: 143px;
  left:120px;
  font-size:15px;
  color: var(--color-white);
}
.ellipse-parent {
  position: absolute;
  top: 1022px;
  left: 100px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 300px;
  height: 50px;
  color: #BFDC36;
}
.group-item {
  position: absolute;
  top: -4px;
  left: 30px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.co-founder-head-of,
.peter-tim {
  position: absolute;
  top: 275px;
  left:120px;
  line-height: 20px;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.peter-tim {
  color: #BFDC36;
  width: 143px;
}
.co-founder-head-of {
  top: 300px;
  left: 30px;
  width: 400px;
  font-size:15px;
  color: var(--color-white);
}
.ellipse-group {
  position: absolute;
  top: 1022px;
  left: 426px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 100px;
  height: 50px;
}
.co-founder-head-of1,
.mark-zuk {
  position: absolute;
  top: 275px;
  left:120px;
  line-height: 20px;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.mark-zuk {
  color: #BFDC36;
  width: 143px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.co-founder-head-of1 {
  top: 300px;
  left: 33px;
  width: 400px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.ellipse-container {
  position: absolute;
  top: 1022px;
  left: 723px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 100px;
  height: 100px;
  color: var(--color-yellowgreen);
}
.co-founder-distribution {
  position: absolute;
  top: 300px;
  left: 33px;
  width: 400px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-white);
}
.group-div {
  position: absolute;
  top: 1022px;
  left: 1040px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 358px;
  height: 430px;
  color: var(--color-yellowgreen);
}

.group-ch{
  position: absolute;
  top: -4px;
  left: 30px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.group-it{
  position: absolute;
  top: -4px;
  left: 30px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}